body {
    margin-bottom: 80px;
}
@media (max-width: 1199px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width: 1200px) {
    body {
        padding-left: 18%;
        padding-right: 18%;
    }
}
.title {
    text-align: center;
}
hr {
    height: 0.85em;
}
.hr-tips {
    float: right;
    font-weight: bold;
    margin: 5px;
    color: #ccc;
}
.table-colors {
    font-family: monospace;
    font-size: 2em;
}
.table-colors tr > td:nth-child(2),
.table-colors tr > td:last-child {
    padding-left: 1em;
}
td > span.fond-frama,
td > span.fond-soft,
td > span.fond-logiciel,
td > span.fond-culture,
td > span.fond-services,
td > span.fond-vrac {
    display: inline-block;
    width: 2em;
    height: 1em;
}
.table-typo {
    width: 100%;
}
td > h1.framagalaxie {
    margin-bottom: 0;
}
.lien-hover {
    color: #625092;
    border-bottom: 1px dashed #625092;
}
.code {
    font-family: monospace;
}
