/*
 * Pour écrire les noms des étoiles de la galaxie FramaSoft :
 * FramaSoft, FramaBlog…
 */
.frama {
    color: #6A5687;
}
.soft {
    color: #EB7B41;
}
.logiciel {
    color: #0C5B7A;
}
.culture {
    color: #CC2D18;
}
.services {
    color: #9BAE5F;
}
.vrac {
    color: #DBA306;
}

/*
 * Pour utiliser les couleurs Framasoft en couleur de fond
 */
.fond-frama {
    background-color: #6A5687;
}
.fond-soft {
    background-color: #EB7B41;
}
.fond-logiciel {
    background-color: #0C5B7A;
}
.fond-culture {
    background-color: #CC2D18;
}
.fond-services {
    background-color: #9BAE5F;
}
.fond-vrac {
    background-color: #DBA306;
}

/*
 * Typographie
 */
h1.framagalaxie {
    font-family: DejaVu Sans, Verdana, Geneva, sans-serif;
    font-size: 2.857em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: PTSansCaption, GillSans, sans-serif;
    color: #666;
    font-weight: bold;
}
h3 {
    font-size: 1.714em;
}
h4 {
    font-size: 1.3em;
}
p,
li {
    font-family: DejaVu Sans, Verdana, Geneva, sans serif;
    color: #333;
}
a {
    color: #888;
    border-bottom: 1px dashed #888;
    text-decoration: none;
}
a:hover {
    color: #625092;
    text-decoration: none;
    border-bottom: 1px dashed #625092;
}
hr {
    background-color: #EEE;
    border: none;
}
